.idea/
__pycache__/
venv/
Rough_tests.py
*.json
*.hdf5
.DS_Store
*.pdf
*.tif
*.png
*.npy
Temp_data_manipulation/
dTV/7Li_1H_MRI_Data_31112020/
dTV/Checking_dTV_on_H_data.py
dTV/MRI_15032021/Rough.py

!example_TV_recon_15032021_synth_data.npy
!pre_registered_H_image_low_res.npy
!pre_registereed_H_image_high_res.npy
